<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>953142243040-qj8mmn7tk6jkh8er3jh265nu008sf2fq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.953142243040-qj8mmn7tk6jkh8er3jh265nu008sf2fq</string>
	<key>API_KEY</key>
	<string>AIzaSyB3tkc6Z0uiGu7asbp5S4i08aZdlKFal_g</string>
	<key>GCM_SENDER_ID</key>
	<string>953142243040</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>RB.bisMateClient</string>
	<key>PROJECT_ID</key>
	<string>bismate-1683a</string>
	<key>STORAGE_BUCKET</key>
	<string>bismate-1683a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:953142243040:ios:d1a3ff8f9ed1a75eff2a85</string>
</dict>
</plist>