.DS_Store
Client/bisMateClient/GoogleService-Info.plist
Client/bisMateClient/bisMateClient.xcworkspace/xcuserdata/razvan-antonioberbece.xcuserdatad/UserInterfaceState.xcuserstate
Client/bisMateClient/bisMateClient/OutboundRequesting/Security/private.swift